<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="shared-styles">
    <template>
        <style>

            :host {

            }

            .input {
                box-shadow : .0625rem 0 .125rem rgba(0, 0, 0, 0.35);
                opacity    : .95;
                width      : 100%;
            }

            .input #newTask, .title {
                background-color : #EC6F75;
                border           : none;
                border-radius    : 0;
                box-sizing       : border-box;
                color            : rgba(0, 0, 0, .45);
                display          : block;
                float            : left;
                font-size        : 300%;
                font-weight      : 600;
                margin           : 0;
                outline          : none;
                padding          : 2rem;
                width            : 80%;
            }

            .title {
                background-color : #c46262;
                width            : 100%;
                color            : white;
                padding          : 0px;
                font-size        : 150%;
                padding-left     : 2rem;
            }

            .input #label {
                background-color : #EC6F75;
                border           : none;
                border-radius    : 0;
                box-sizing       : border-box;
                color            : rgba(0, 0, 0, .45);
                display          : block;
                float            : left;
                font-size        : 300%;
                font-weight      : 600;
                margin           : 0;
                outline          : none;
                padding          : 2rem;
                width            : 80%;
            }

            .input #addButton {
                background-color   : #EC6F75;
                border             : none;
                border-radius      : 0;
                box-sizing         : border-box;
                color              : #fff;
                cursor             : pointer;
                display            : block;
                font-size          : 300%;
                font-weight        : 700;
                float              : right;
                margin             : 0;
                outline            : none;
                padding            : 2rem;
                width              : 20%;
                transition         : all 0.3s;
                -webkit-appearance : none;
                -moz-appearance    : none;
            }

            .input #addButton:hover {
                background-color : #d96a6d;
            }

            ul {
                clear      : both;
                float      : left;
                width      : 100%;
                padding: 0px;
                margin: 0px;
            }

            ol, ul {
                list-style : none;
            }

            li {
                background-color : rgba(153, 0, 204, .75);
                color            : rgba(0, 0, 0, .4);
                cursor           : pointer;
                font-size        : 200%;
                font-weight      : 600;
                line-height      : 125%;
                padding          : 2rem;
                transition       : all 0.3s;
            }

            li:nth-child(odd) {
                background-color : rgba(153, 0, 204, .7);
            }

            li:hover {
                background-color : rgba(153, 0, 204, 1);
                color            : rgba(255, 255, 255, .85);
            }

            li a {
                color       : rgba(0, 0, 0, .25);
                float       : right;
                margin-left : 2rem;
            }

            li a:hover {
                color : rgba(255, 255, 255, .75);
            }

            @media screen and (max-width : 500px) {

                .input #newTask, .input #addButton {
                    font-size : 200%;
                    padding   : 1rem;
                }

                li {
                    font-size : 150%;
                    padding   : 1rem;
                }

            }
        </style>

    </template>
</dom-module>
