<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="todo-app">
    <template>
        <style include="shared-styles">>
            :host {
                display : block;
            }

        </style>

        <div class="title">
            <p>To do list</p>
        </div>

        <div class="input">
            <input type="text" id="newTask" on-keypress="keypressHandler" value="{{stringTask::input}}" autofocus>
            <input type="button" id="addButton" on-click="addToDo" value="+">
        </div>
        <ul id="currentList"></ul>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class TodoApp extends Polymer.Element {

            static get is() {
                return 'todo-app';
            }

            static get properties() {
                return {
                    prop1: {
                        type : String,
                        value: 'todo-app'
                    },
                    stringTask: {
                        type: String,
                        notify: true
                    }
                };
            }

            ready() {
                super.ready();
            }

            keypressHandler(event) {
                if(event.keyCode == 13) {
                    this.addToDo();
                }
            }

            addToDo() {
                var list   = this.$.currentList,
                    li     = list.childNodes || null,
                    todo   = null;
                var txt = this.$.newTask.value;
                if (txt === "") {
                    return false;
                }
                else {
                    var todo = document.createTextNode(txt);
                    var li   = document.createElement("li");
                    li.appendChild(todo);
                    list.insertBefore(li, list.firstChild);
                    this.stringTask = "";
                    li.onclick = this.deleteToDo;
                    return false;
                }
            }

            deleteToDo() {
                this.parentNode.removeChild(this);
                return false;
            }
        }

        window.customElements.define(TodoApp.is, TodoApp);

    </script>
</dom-module>
